<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Body -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid id="main-grid">
    <ion-row>
      <ion-col>Top</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Middle</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>